<div class="container mt-3"> 
  <div class="row">
    <h4 class="text-center"> hard and soft skill</h4>
    <div class="col-md-4 col-sm-4 col-xs-4 text-center mt-4">
      <h5>Javascript</h5>
      <br>
      <circle-progress
      [percent]="50"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#9C27B0'"
      [innerStrokeColor]="'#E1BEE7'"
      [animation]="true"
      [animationDuration]="300"
      [subtitle]="'Javascript'"
      [subtitleFontSize]="'16'"
    ></circle-progress>  
    </div>  
    <div class="col-md-4 col-sm-4 col-xs-4 text-center mt-4">
      <h5>HTMl</h5>
      <br>
      <circle-progress
      [percent]="80"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#9C27B0'"
      [innerStrokeColor]="'#E1BEE7'"
      [animation]="true"
      [animationDuration]="300"
      [subtitle]="'HTMl'"
      [subtitleFontSize]="'16'"
    ></circle-progress>  
    </div>  
    <div class="col-md-4 col-sm-4 col-xs-4 text-center mt-4">
      <h5>CSS</h5>
      <br>
      <circle-progress
      [percent]="80"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#9C27B0'"
      [innerStrokeColor]="'#E1BEE7'"
      [animation]="true"
      [animationDuration]="300"
      [subtitle]="'CSS'"
      [subtitleFontSize]="'16'"
    ></circle-progress>  
    </div>  
    <div class="col-md-4 col-sm-4 col-xs-4 text-center mt-4">
      <h5>Comunicación</h5>
      <br>
      <circle-progress
      [percent]="90"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#FF9800'"
      [innerStrokeColor]="'#FFE0B2'"
      [animation]="true"
      [animationDuration]="300"
      [subtitle]="'Comunicación'"
      [subtitleFontSize]="'16'"
    ></circle-progress>  
    </div>  
    <div class="col-md-4 col-sm-4 col-xs-4 text-center mt-4">
      <h5>Trabajo en equipo</h5>
      <br>
      <circle-progress
      [percent]="90"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#FF9800'"
      [innerStrokeColor]="'#FFE0B2'"
      [animation]="true"
      [animationDuration]="300"
      [subtitle]="'Trabajo en equipo'"
      [subtitleFontSize]="'16'"
    ></circle-progress>  
    </div>  
    <div class="col-md-4 col-sm-4 col-xs-4 text-center mt-4">
      <h5>Organización</h5>
      <br>
      <circle-progress
      [percent]="100"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#FF9800'"
      [innerStrokeColor]="'#FFE0B2'"
      [animation]="true"
      [animationDuration]="300"
      [subtitle]="'Organización'"
      [subtitleFontSize]="'16'"
    ></circle-progress>  
    </div>  
  </div>
</div>
