<div class="container mt-3">
  <div class="card card-header text-center mt-3">
    <h4>Educación</h4>
  </div>
  <div class="row mt-3">
    <div class="col-md-3 col-sm-6 col-xs-6" *ngIf="isLogged">
      <div class="card">
        <div class="card-body">
          <!-- Formulario para agregar experiencias -->
          <form (ngSubmit)="onCreate()">
            <div class="form-group">
              <label for="nombreE">Nombre de la institución educativa</label>
              <input
                type="text"
                placeholder="institución educativa"
                class="form-control"
                id="nombreE"
                name="nombreE"
                [(ngModel)]="nombreE"
                required
              />
            </div>
            <div class="form-group">
              <label for="descripcionE">Descripción de la educacion</label>
              <input
                type="text"
                class="form-control"
                id="descripcionE"
                name="descripcionE"
                [(ngModel)]="descripcionE"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary btn-block">
              Agregar
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-sm-12 col-xs-12">
      <div class="card mb-2">
        <div *ngFor="let educacion of educaciones">
          <div
            class="card-header d-flex justify-content-between align-items-center"
          >
            <h5>{{ educacion.nombreE }}</h5>
            <div >
              <button
                class="btn btn-success"
                routerLink="/editeducacion/{{educacion.id}}"
                *ngIf="isLogged"
              >
                editar
              </button>
              <button
                class="btn btn-danger"
                (click)="delete(educacion.id)"
                *ngIf="isLogged"
              >
                Eliminar
              </button>
            </div>
          </div>
          <div class="card-body">
            <p>{{ educacion.descripcionE }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>