<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
</head>
<body>
  
</body>
</html>
<nav
  class="navbar bg-primary navbar-expand-lg fixed-top"
  style="height: auto"
>
  <div class="container">
    <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar/" target="_blank">
      <img
        href="#"
        src="../../../assets/APLogo2.png"
        class="img-fluid imagenes"
      />
    </a>

    <div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">           
            <li class="nav-item">
              <a href="https://www.instagram.com/yojavier12/" target="_blank" class="btn btn-black btn-lg text-secondary"
                ><img
                  href="#"
                  src="../../../assets/instagram.png"
                  class="imagenesredes"
              /></a>
            </li>
            
            <li class="nav-item">
              <a href="https://www.linkedin.com/in/javier-sebastián-hoyos/" target="_blank" class="btn btn-black btn-lg text-secondary"
                ><img
                  href="#"
                  src="../../../assets/linkedin.png"
                  class="imagenesredes"
              /></a>
            </li>
            <li class="nav-item">
              <a
                href="/login"
                class="btn bg-warning btn-lg text-white mx-2"
                name="login"
                *ngIf="!isLogged"
                >Login</a
              >
              <a
                href=""
                class="btn btn-danger btn-lg text-white mx-2"
                (click)="onLogOut()"
                *ngIf="isLogged"
                >LogOut</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row" *ngIf="banner">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <img src="{{ banner.img }} " class="d-block w-100 img-fluid mt-6" />

    <div class="container mt-3">
      <div class="row">
        <button
          class="btn btn-outline-success block"
          routerLink="/editbanner/{{ banner.id }}"
          *ngIf="isLogged"
        >
          editar banner
        </button>
      </div>
    </div>
  </div>
</div>
