<div class="container mt-3">
    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="card border-light bg-light" style="width: auto;">
                <img src="../../../assets/4X4.jpg" class="card-img-top rounded-circle img-fluid" alt="...">
                <div class="card-header border-light mt-2 text-center"><h5>Javier Hoyos</h5></div>
            </div>
        </div>
        <div class="col-md-9 col-sm-12 col-xs-12">
            <div class="card border-light bg-light">                
                <div class="card-header border-light  text-center"><h5>Acerca de mi</h5></div>
                <div class="card-body">                  
                  <p class="card-text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, ea! Vel, assumenda doloribus deleniti excepturi accusamus possimus, fugiat reprehenderit cum ut corporis qui. Voluptas minima reiciendis corporis quos odit veniam?</p>                  
                </div>
              </div>
        </div>
    </div>
</div>
