<div class="container mt-3">
    <div class="row" *ngIf="persona">
        <div class="col-md-3 col-sm-3 col-xs-3">
            <div class="card ">
                <img src="{{persona.img}} "class="rounded-circle img-fluid" alt="...">
                <div class="card-header border-light bg-dark mt-2 text-center"><h5>{{persona.nombre}} {{persona.apellido}} </h5>
                <button class="button" class="btn btn-success" routerLink="/editacerca/{{persona.id}}" *ngIf="isLogged">editar</button> 
                </div>
            </div>
        </div>
        <div class="col-md-9 col-sm-12 col-xs-12">
            <div class="card border-light bg-secondary">                
                <div class="card-header border-light bg-warning text-center"><h4>Acerca de mi</h4>
                    <button class="button" class="btn btn-success" routerLink="/editacerca/{{persona.id}}" *ngIf="isLogged">editar</button> 
                </div>
                <div class="card-body">                  
                  <p class="card-text bg-secondary">{{persona.acerca}}</p>                  
                </div>
              </div>
        </div>
    </div>
</div>
